---
name: Build Fedora ISO

# yamllint disable-line rule:truthy
on: [push]

jobs:
  tests:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: "AgentInfo"
        run: ./.github/agent-info.sh
      - name: "YamlLint"
        run: |
          docker run \
            --rm \
            -w /repo \
            -v $(pwd):/repo \
            -t \
            alpine:3.16 /bin/sh -c " \
              apk add --no-cache py-pip python3 bash \
              && pip3 install yamllint \
              && yamllint -s . \
            "
      - name: "ShellCheck"
        run: |
          docker run \
            --rm \
            -w /repo \
            -v $(pwd):/repo \
            -t \
            alpine:3.16 /bin/sh -c " \
              apk add --no-cache shellcheck bash \
              && shellcheck $(find . -type f -name "*.sh" |  tr '\n' ' ')
            "
  build-gnome:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: "Build Fedora Gnome ISO"
        run: ./build_in_docker.sh
        env:
          FEDORA_DESKTOP_ENV: gnome
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: ${{ github.ref }}
          name: Release gnome ${{ github.ref }}
          draft: true
          files: |
            ./output_zip/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # You don't need to add this in secrets it's by default.
      - name: "AgentInfo"
        run: ./.github/agent-info.sh
  build-kde:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: "Build Fedora KDE ISO"
        run: ./build_in_docker.sh
        env:
          FEDORA_DESKTOP_ENV: kde
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: ${{ github.ref }}
          name: Release kde ${{ github.ref }}
          draft: true
          files: |
            ./output_zip/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # You don't need to add this in secrets it's by default.
      - name: "AgentInfo"
        run: ./.github/agent-info.sh
  
